<head>
	<%= javascript_include_tag "jquery" %>
	<%= javascript_include_tag "bootstrap" %>
	<%= stylesheet_link_tag "bootstrap" %>
	<style type="text/css">
		body{
			background-color: #fdfdfd;
			color: #545454;
		}

		.center-text{
			text-align: center;
		}

		.tall{
			height: 800px;
		}

		.half-width{
			width: 48%;
			display: inline-block;
			margin-top: 15px;
			margin-left: 2.5px;
		}

		.right-textbox{
			margin-left: 15px;
		}

		.btn-lime{
			color: #fdfdfd;
  			background-color: rgb(126, 168, 68);
  			border-color: rgb(126, 168, 68);
		}

		.btn:hover{
			color: #fdfdfd;
		}

		.horiz-space{
			height: 40px;
		}

		#topContainer{
			padding-left: 0;
		}

		#infoContainer{
			padding-top: 15px;
		}

		.padded-row{
			margin-top: 15px;
			margin-bottom: 15px;
		}

		input.has-error, select.has-error {
        	border: 1px solid #b94a48;
        	box-shadow: 0px 1px 1px #b94a48 inset, 0px 0px 6px #b94a48;
    	}

	</style>
	<script type="text/javascript">
	$(function(){
		var email_regex = new RegExp(/^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/);
		var infoContainer = $('#infoContainer');
		var versionContainer = $('#versionContainer');
		var priceContainer = $('#priceContainer');
		var importantFields = ['password', 'email']
		var error_class = 'has-error'

		var scrollToContainer = function(container){
			$('html,body').animate({
   				scrollTop: container.offset().top
			});
		}

		var showContainer = function(container){
			$(container).removeClass('hidden');
		}

		var goToContainer = function(container){
			showContainer(container);
			scrollToContainer(container);
		}

		var validate_input = function(){
			var valid = true;
			var inputs = $('.signUp');

			$.each(inputs, function(index, input){
				var input_object = $(input);
				if(input.value.length === 0){
					valid = false;
					input_object.addClass(error_class);
				}else if($.inArray(input.id, importantFields)){
					if(input.id === "password" && input.value.length < 8){
						valid = false;
						input_object.addClass(error_class);
					}
						
					if(input.id === "email" && !email_regex.test(input.value)){
						valid = false;
						input_object.addClass(error_class);
					}
				}else{
					input_object.removeClass(error_class);
				}
			});

			return valid;
		}

		$('#tryIt').on('click', function(){
			goToContainer(infoContainer);
		});

		$('#continueSignUp').on('click', function(){
			var valid = validate_input();
			if(valid){
				//todo:server-side validation (model-binding)
				goToContainer(versionContainer);
			}
			return false;
		});

		$('.version-btn').on('click', function(){
			//todo: save version chosen
			goToContainer(priceContainer);
		})
	})
	</script>
</head>

<div id="topContainer" class="container-fluid">
	<div class="row">
  		<div id="topImage" class="col-lg-8"><img class="img-responsive img-rounded" src="/assets/lime-logo.png"/></div>
  		<div id="getStarted" class="col-lg-4">
   			<h1 class="center-text">A fresh approach to assistance</h1>
   			<div class="horiz-space"></div>
   			<h3 class="center-text">Down the street or across the pond.</h3>
   			<div class="horiz-space"></div>
   			<h3 class="center-text">Help your team accomplish their goals more efficiently.</h3>
   			<div class="horiz-space"></div>
   			<h3 class="center-text">Save money one trip at a time.</h3>
   			<a href="#" id="tryIt" class="btn btn-lime btn-block">Get started for free</a>
   		</div>
	</div>
</div>

<div id="infoContainer" class="tall container-fluid hidden">
	<div class="row">
		<div class="col-lg-4">
			<img src="/assets/juicy-limes.JPG" class="img-responsive img-circle">
		</div>
		<div class="col-lg-4" id="info-div">
			<div class="row">
				<div class="col-lg-6">
					<input class="signUp form-control" type="text" id="first_name" placeholder="First name">
				</div>
				<div class="col-lg-6">
					<input class="signUp form-control" type="text" id="last_name" placeholder="Last name">
				</div>
			</div>
			<div class="row padded-row">
				<div class="col-lg-6">
					<input class="signUp form-control" type="text" id="email" placeholder="Email">
				</div>
				<div class="col-lg-6">
					<input class="signUp form-control" type="password" id="password" data-help="passwordHelp" placeholder="Password">
					<span id="passwordHelp" class="help-block hidden">Must be at least 8 characters.</span>
				</div>
			</div>
			<div class="row padded-row">
				<div class="col-lg-12">
					<input class="signUp form-control" type="text" id="business_name" placeholder="Business name">
				</div>
			</div>
			<div class="row padded-row">
				<div class="col-lg-4">
					<input class="signUp form-control" type="text" id="industry" placeholder="Industry">
				</div>
				<div class="col-lg-4">
					<input class="signUp form-control" type="text" id="business_size" placeholder="Business size">
				</div>
				<div class="col-lg-4">
					<input class="signUp form-control" type="number" id="user_count" placeholder="Number of lime users">
				</div>
			</div>
			<a href="#" id="continueSignUp" class="btn btn-lime btn-block">Continue</a>
		</div>
		<div class="text-center col-lg-4">
			<h1>Tell us about your business</h1>
			<div class="horiz-space"></div>
			<h3>Lime works wonders whether you run a team of 10 or a team of 1,000,000</h3>
		</div>
	</div>
</div>

<div id="versionContainer" class="tall container-fluid hidden text-center">
  <div class="row">
	<div class="col-lg-2"></div>
	<div class="col-lg-4">
		<h1>Lite</h1>
		<h4>The lite version is really awesome. But you will not get to see unicorns and you can only get bacon if you call us about 40 times. We hope you enjoy it. But you should probably go premium.</h4>
		<a href="#" id="choseLite" class="btn btn-lime btn-block version-btn">Go lite</a>
	</div>
	<div class="col-lg-4">
		<h1>Premium</h1>
		<h4>The premium version is loaded with all of the unicorns and bacon you could ever desire. Also, if you call us, we will send you crispier bacon and come flip your pancakes for you. This is definitely the way to go.</h4>
		<a href="#" id="chosePremium" class="btn btn-lime btn-block version-btn">Live it up</a>
	</div>
	<div class="col-lg-2"></div>
  </div>
</div>

<div id="priceContainer" class="tall container-fluid hidden text-center">
	<div class="col-lg-3"></div>
	<div class="col-lg-6">
		<h3>$1,000,000</h3><br>
		<a target="_blank" href="https://itunes.apple.com/us/app/lime-app/id867775336?mt=8" class="btn btn-lime btn-block version-btn">Download Now!</a>
	</div>
	<div class="col-lg-3"></div>
</div>

